body {
    background-color: #fff;
    color: #363636;
    font-family: 'Segoe UI',Calibri,Arial,'Helvetica Neue',Verdana,Helvetica,Sans-Serif;
    margin: 0.5in;
    padding: 0;
}

table {
    text-align: left;
    padding: 5px;
    border-collapse: collapse;
}

th {
    color: white;
    background-color: #00a1f1;
}

    th:first-child, td:first-child {
        padding-right: 1em;
        text-align: right;
        font-weight: bold;
    }

tbody > tr:nth-child(odd) {
    background-color: #f2f2f2;
}

td:first-child {
    background-color: #fff;
}

.katex {
    font-size: 1em !important;
    font-weight: 200 !important;
}
